#banner{
width: 100%;
height: 30px;

}

#menu{

width: 100%;
height: 50px;


}


#content{

	min-height: 400px;
	width: 100%;
}

#left{

	width: 65%;
	float: left;
	min-height: 400px;
}

#lefttop{

width: 100%;
height: 50%;

}

#leftdown{
width: 100%;
height: 50%;


}

#right{

width: 35%;
float: left;

height: 100%;
}



#lefttop h2{

	text-align: center;
}

#leftdown h2{
	text-align: center;
	

}

#leftdown h1{

	
}

#leftdown img {
	
	width: 20%;
	clear: both;
	


}



p{

	text-align: center;
}